/* div {
    border: 1px dashed red;
} */

.result {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 20px;
}

.button-switch {
    width: 100px;
    height: 50px;
    background-color: white;
}

.bi path:last-child {
  display: none;
}

/* .btn-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
} */

/* .btn--magic .bi path:last-child{

  display: none;
} */

